/* public/css/base/reset.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: inherit;
}

input, select, textarea {
    border: none;
    background: none;
    font-family: inherit;
}